@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.c-img {
  min-height: 150px;
}

.sidebar .nav-link {
  color: RGBA(var(--bs-dark-rgb), var(--bs-link-opacity, 1)) !important;
}

.sidebar .nav-link.active {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.sidebar-drop {
  position: relative;
  padding-right: 1.5rem;
}

.sidebar-drop::after {
  font-family: "bootstrap-icons";
  content: "\f285";
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
  font-size: 1rem;
}

.sidebar-drop:not(.collapsed)::after {
  transform: translateY(-50%) rotate(90deg);
}

.pagination-dark {
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #212529;
  --bs-pagination-active-border-color: #212529;
}

.pagination-dark .page-link {
  color: var(--bs-dark) !important;
  background-color: transparent !important;
  border: 0 !important;
  border-radius: var(--bs-border-radius) !important;
}

.pagination-dark .page-item.active .page-link {
  background-color: var(--bs-dark) !important;
  color: #fff !important;
}

.pagination-dark .page-item.disabled .page-link {
  color: var(--bs-secondary-color) !important;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

header {
  transition: none;
}

header.floating {
  padding: 1rem;
  transition: padding 0.3s ease;
}

header.floating nav {
  border-radius: 999px;
  transition: border-radius 0.3s ease;
}

.no-deco {
  text-decoration: none;
}

.no-deco:hover {
  text-decoration: underline;
}

#categorias-carousel {
  position: relative;
}

.shadow-hover:hover {
  transition: transform .3s ease;
  box-shadow: 0 .2rem .6rem rgba(0, 0, 0, 0.1)
}

@media screen and (min-width:576px) {
  .multi-carousel .carousel-inner {
    display: flex;
    justify-content: space-between;
  }

  .multi-carousel .carousel-item {
    margin-right: 1%;
  }

  .multi-carousel.multi-carousel-5 .carousel-item {
    display: block;
    flex: 0 0 calc((100% - (0.75% * 4)) / 5);
  }

  .multi-carousel.multi-carousel-6 .carousel-item {
    display: block;
    flex: 0 0 calc((100% - (0.75% * 5)) / 6);
  }
}

.multi-carousel .carousel-inner {
  padding: 1em;
}

.multi-carousel .carousel-item:last-child {
  margin-right: 0 !important;
}