@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.c-img {
    min-height: 150px;
}

.col-2-5 {
    flex: 0 0 auto;
    max-width: 20%;
}

.fs-7 {
    font-size: 0.875rem !important;
}

.fs-8 {
    font-size: 0.75rem !important;
}

.fs-9 {
    font-size: 0.5rem !important;
}

.no-deco {
    text-decoration: none;
}

.no-deco:hover {
    text-decoration: underline;
}

#categorias-carousel {
  position: relative;
}

.img-hover:hover {
  transform: scale(1.025);
  transition: transform 0.2s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1)
}

.card-hover:hover {
  transform: scale(1.025);
  transition: transform 0.2s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1)
  }

@media screen and (min-width:576px) {
  .multi-carousel .carousel-inner {
    display: flex;
    justify-content: space-between;
  }

  .multi-carousel .carousel-item {
    margin-right: 1%;
  }

  .multi-carousel.multi-carousel-5 .carousel-item {
    display: block;
    flex: 0 0 calc((100% - (0.75% * 4)) / 5);
  }

  .multi-carousel.multi-carousel-6 .carousel-item {
    display: block;
    flex: 0 0 calc((100% - (0.75% * 5)) / 6);
  }
}

.multi-carousel .carousel-inner {
  padding: 1em;
}

.multi-carousel .carousel-item:last-child {
  margin-right: 0 !important;
}